In [ ]:
#tool for checking the URLs of Members' web and social media addresses
#this tool takes an input of all Members' web and social media addresses, extracted from MNIS API, and checks whether
#they provide a 200 OK response/403, or produce an error code. 
#NOTE: Most Labour websites will produce a 403 error code, as they have been set up to block access to automated scripts. 
#We are looking primarily for 400 or 500 error codes which means either the site no longer exists, or is suffering a fault. 


#Before we run the script, the addresses need to be extracted from the OData endpoint. This could be added to the script
#in future, but at the moment this is done manually.

In [1]:
#these are the packages (think of them like pre-written scripts) that we use to perform the functions in our code

#these scripts will need to be installed on your computer before you use them for the first time. 
#To do this use the following commands (remove the hashtags first):
#!pip install requests
#!pip install pandas 
#!pip install beautifulsoup4
#The excalamation mark is necessary here, as it tells Jupyter to run a shell command, or a command in your computer's OS.

#These commands import the packages into this notebook so the specific commands from these packages can be used. 
import requests
import pandas
from bs4 import BeautifulSoup

In [2]:
#this command reads the excel spreadsheet and puts it into a pandas dataframe, which is a table. We call it df (for dataframe)
df = pandas.read_excel('2022 08 Member web addresses for link checker script.xlsx')

In [3]:
#as we're only really interested in the address field, we can extract that column from the dataframe and work with it separately
values = df['Address1'].values

In [6]:
#create an empty list called responses and an empty list called title. These will be populated by the for loop below. 
responses = []
title = []
#this command runs in a loop. In each iteration of the loop, it picks an address from the values column, attempts to
#access that web address with the requests package, and if it successfully reaches the website, provides us with the response
#code that it received from the site and the title. 


#The response code is then appended to the responses list and the title is appended to the title list.
for i in values:
#the try command attempts to find the website and get a response. If the website cannot be accessed at all (perhaps a typo in the URL),
#the except command provides an explanation of the error and adds this as the response instead. 
    try:
        r = requests.get(i)
    except Exception as e:
        r = e
    responses.append(r)
#the second try - except block uses requests to find the website, then uses BeautifulSoup to extract the HTML of the page,
#and from that HTML (called 'soup' in the code), it attempts to extract the page title. 
    try:
        r = requests.get(i)
        soup = BeautifulSoup(r.text)
        pagetitle = soup.find_all('title')
    except Exception as e:
        pagetitle = e
    title.append(pagetitle)

In [7]:
#this command adds the list of responses we collected to the dataframe as a new column called Response,
#and the a new column called Titles, which contains the title list. 
df["Response"] = responses
df['Titles'] = title

In [8]:
#simply running df as a command brings up the dataframe as it currently appears, truncating it to 10 rows. 
df

,Member_Id,Address1,AddressType.IsPhysicalAddress,Member.NameListAs,Member.House,Member.EndDate,Response,Titles
0,8,http://www.tmay.co.uk,False,"May, Mrs Theresa",Commons,NaN,<Response [200]>,[[Theresa May]]
1,8,https://twitter.com/theresa_may,False,"May, Mrs Theresa",Commons,NaN,<Response [200]>,[]
2,14,http://www.johnredwoodsdiary.com,False,"Redwood, John",Commons,NaN,<Response [200]>,[[John Redwood's Diary – For freedom and prosp...
3,14,https://twitter.com/johnredwood,False,"Redwood, John",Commons,NaN,<Response [200]>,[]
4,36,http://www.eleanorlaing.com,False,"Laing, Dame Eleanor",Commons,NaN,<Response [200]>,[[Dame Eleanor Laing | MP for Epping Forest]]
...,...,...,...,...,...,...,...,...
1188,4938,https://www.facebook.com/PauletteHamiltonMP,False,"Hamilton, Mrs Paulette",Commons,NaN,<Response [200]>,[[Log in to Facebook]]
1189,4938,https://paulettehamilton.org/,False,"Hamilton, Mrs Paulette",Commons,NaN,<Response [403]>,[[403 Forbidden]]
1190,4943,www.simonlightwood.org.uk,False,"Lightwood, Simon",Commons,NaN,Invalid URL 'www.simonlightwood.org.uk': No sc...,Invalid URL 'www.simonlightwood.org.uk': No sc...
1191,4943,https://www.facebook.com/simonlightwoodforwake...,False,"Lightwood, Simon",Commons,NaN,<Response [404]>,[[Page not found | Facebook]]
1192,4943,https://twitter.com/simonlightwood,False,"Lightwood, Simon",Commons,NaN,<Response [200]>,[]

In [9]:
#this command outputs the dataframe to a csv file. Change the filename based on which year and month you're covering. 
df.to_csv("2022 10 Members web addresses with status.csv")